{% extends 'adminpnl/adminbase.html'%}
{% block content %}


<div class="container">
  <h2 class="text-center"><u>Contacts</u></h2><br>
  <table class="table table-light table-striped">
    <thead>
      <tr>
        <th>S.no.</th>
        <th>Name</th>
        <th>phone Number</th>
        <th>Mail</th>
        <th>Select all</th>
        <th><input type="checkbox" id="checkAll" ></th>

      </tr>
    </thead>
    <tbody>
    <!-- jinja2 Technique -->
    {% if d %}
    <form  method ="post" action="{% url 'sendsms' %}">
      {% csrf_token %}
    {% for i in d %}

      <tr>
        <td>{{i.sno}}</td>
        <td>{{i.Name}}</td>
        <td>{{i.Phone}}</td>
        <td>{{i.Mail}}</td>

        <td><input type="checkbox" name="{{i.Phone}}" id="{{i.Phone}}" value="1"></td>
      </tr>
    {% endfor %}

    {% endif %}
      {% csrf_token %}
<!--     <label for="fnum">Sender number:</label><br>-->
<!--  <input type="text" id="fnum" name="fnum" value=""><br>-->
  <label for="message">Message:</label><br>
  <input type="textarea" id="message" name="message">
  <input type="submit" value="send">
    </form>
    </tbody>
  </table>

</div>

<!--<button><div align="center"><a href="exporttomail">Export VCF to Mail</a></div></button>-->

<!--<h1>Enter receiver id</h1>-->


<!--<a href="{% url 'exportmail' %}">Send email</a>-->
<script>
const checkAll = document.getElementById("checkAll");
const checkboxes = document.querySelectorAll("input[type='checkbox']:not(#checkAll)");

checkAll.addEventListener("click", function() {
  for (let i = 0; i < checkboxes.length; i++) {
    checkboxes[i].checked = this.checked;
  }
});

</script>
<!--<form  method ="post" action="{% url 'sendsms' %}">-->
<!--                {% csrf_token %}-->
<!--&lt;!&ndash;     <label for="fnum">Sender number:</label><br>&ndash;&gt;-->
<!--&lt;!&ndash;  <input type="text" id="fnum" name="fnum" value=""><br>&ndash;&gt;-->
<!--  <label for="message">Message:</label><br>-->
<!--  <input type="textarea" id="message" name="message">-->
<!--  <input type="submit" value="send">-->
<!--</form>-->

{% endblock %}
{% block title %}Show data{% endblock %}